{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>IPL Analytics Platform</title>
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <img src="{% static 'images/ipl_logos.jpeg' %}" alt="IPL Team Logos" width="100%" height="55" class="top-image">
    <nav>
        <button class="menu-toggle" onclick="toggleMenu()">☰</button>
        <img src="{% static 'images/ipl_menu.png' %}" alt="Small Logo" width="100" height="55" class="nav-logo">
        <div class="nav-items">
            <a href="{% url 'home' %}" class="nav-item"><strong>HOME</strong></a>
            <a href="{% url 'home' %}#features" class="nav-item"><strong>FEATURES</strong></a>
            <a href="{% url 'home' %}#visualization-previews" class="nav-item"><strong>PREVIEW</strong></a>
            <a href="{% url 'match' %}#contact" class="nav-item"><strong>CONTACT</strong></a>
            <a href="https://en.wikipedia.org/wiki/Indian_Premier_League" class="nav-item"><strong>IPL</strong></a>
        </div>
    </nav>
    <div id="side-menu" class="side-nav">
        <a href="{% url 'batting' %}">Batting Visualization</a>
        <a href="{% url 'bowling' %}">Bowling Visualization</a>
        <a href="{% url 'match' %}">Match Scorecards</a>
        <a href="{% url 'predictions' %}">Predictions</a>
    </div>
<section>
    <iframe title="IPL Dashboard" width="100%" height="1060" src="https://app.powerbi.com/view?r=eyJrIjoiOTAzMTIxMGEtMGZmZi00OWI5LWE2YmQtMmY0ZDE1MDYwNjc2IiwidCI6ImYwMDE0Y2FjLWYzZWYtNGYxMy1hOGRjLTIwNjYzNDUwN2JiNyIsImMiOjJ9&navContentPaneEnabled=false" frameborder="0" allowFullScreen="true"></iframe>
</section>
    <!-- Footer -->
<section id="contact">
<footer class="site-footer">
    <div class="footer-content">
        <h3>Contact Us</h3>
        <p>If you have any questions, please feel free to reach out.</p>
        <p>Email: contact@iplanalytics.com</p>
        <div class="social-media">
            <a href="https://x.com/IPL?t=e-EXc1ehSiiu9IDCEcL-Yw&s=08" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="https://www.facebook.com/IPL?mibextid=rS40aB7S9Ucbxw6v" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.instagram.com/iplt20?igsh=c3hzYnVneWl5Z2Np" target="_blank"><i class="fab fa-instagram"></i></a>
        </div>
    </div>
    <div class="footer-bottom">
        <p>© 2024 IPL Analytics Platform. All rights reserved.</p>
    </div>
</footer>
</section>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
